.home-background{
    object-fit: contain;
    height: 100%;
    background-size: cover;
    background-image: url(./DSC02682.JPG);
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.home-header{
    position: fixed;
    top: 0;
    height: 3.5rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(167,162,169,0.7);
}

.logo{
    margin-left: 2vw;
    color: #F4F7F5;
    font-size: 1.4rem;
    font-weight: 900;
}

.nav-bar{
    display: flex;
    flex-direction: row;
}

.nav-item{
    color: #F4F7F5;
    margin-right: 2vw;
    font-weight: 700;
}

.button-style{
    background-color: rgba(34,40,45,1);
    color: #fff;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 1vw;
    margin-right: 2vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0.7vw;
    transition: all .2s ease-in-out;
}

.button-style:hover{
    background-color: #F4F7F5;
    color: black;
    transition: all .2s ease-in-out;
}

.home-title{
    margin: 0;
    color: #F4F7F5;
    font-size: 8vw;
    font-weight: 800;
}

.home-fadeend{
    background-image: linear-gradient(transparent,rgba(8,9,10,0.61),rgba(8,9,10,1) );
    height: 15vh;
}
